<!DOCTYPE html>
<html>
  <head>
    <title>Thefirstrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <a href='/'>HOME</a>
    <% if user_signed_in? %>
        <p>こんにちは、<%= link_to current_user.email, users_show_path %></p>
    <% else %>
        <a href='/users/sign_in'>サインイン</a>
        <a href='/users/sign_up'>ユーザー登録</a>
    <% end %>
    <hr>
    <%= yield %>
  </body>
</html>
