<!DOCTYPE html>
<html>
  <head>
    <title>Thefirstrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
    <a href='/'>HOME</a>
    <% if user_signed_in? %>
        <p>こんにちは、<%= link_to current_user.name, users_show_path %></p>
        <!-- <%= link_to "Log out", destroy_user_session_path, method: 'delete' %> -->
 <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
<%= link_to "サインイン", new_user_session_path, :class => "btn sign-in" %>
<%= link_to "ユーザー登録", new_user_registration_path, :class => "btn register" %><br />
    <% end %>
        <%= yield %>
  </body>
</html>
